$border-rad: 0px 30px 0px 30px;

.wrap-content{
    
    display: flex;
    align-items: center;

    #about-me{
        margin-top: 70px;
        border: 1px solid $primary;
        border-radius: $border-rad;
    }

    .box-content{
        display: flex;
        flex-direction: row;

        p{
            color: white;
            margin: 10px;
            margin-top: 20px;
            text-align: justify;
        }
    }

    .heading{
        color: $primary;
        font-size: 30px;
        text-transform: uppercase;

    }

    .box2{
        display: flex;
        flex-direction: row-reverse;
    }

    .box-pic{
        width: 20%;
        border-radius: $border-rad;
        margin: 10px;
    }

    .box-container-skill{
        display: flex;
        flex-direction: row;
    }

    .content{
        display: flex;
        flex-direction: column;
    }

    .title{
        display: flex;
        color: $primary;
        margin-top: 10px;
    }
    
    .skills{
        margin-top: 3px;
        margin-left: 10px;
    }

    .list{

        li{
            list-style: none;
        }

        li::before{
            content: ">";
            color: $primary;
            font-weight: bold;
            display: inline-block;
            width: 1em;
            margin-left: -1em;
        }

        
    }

    .serie{
        color: white;
        margin-left: 25px;
    }

    .skill{
        color: white;
        margin-left: 25px;
        margin-right: 20px;
    }

    #line{
        opacity: 50%;
        margin-top: 10px;
        margin-bottom: 10px;
    }

    #image1{
        width: 15%;
    }
    
}

/* Media Querys About */
@media (max-width: 1024px){

    #image2{
        width: 40%;
    }

    #image1{
        width: 40% !important;
    }

}

@media (max-width: 768px){

    #image2{
        display: none;
    }

    #image1{
        width: 50% !important;
    }

}

@media (max-width: 425px){

    #image1{
        display: none;
    }

}