/*Import Fonts*/
@font-face{
    font-family: "Icons";
    src: url(../fonts/websymbols-regular-webfont.eot);
    src: url(../fonts/websymbols-regular-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/websymbols-regular-webfont.woff) format("woff"),
         url(../fonts/websymbols-regular-webfont.ttf) format("truetype"),
         url(../fonts/websymbols-regular-webfont.svg#WebSymbolsRegular) format("svg");
    font-weight: normal;
    font-style: normal;
}


//Variables
$bg-color: #1f1b24;
$primary: #f26c4f;
$secondary: #222;
$primary-shadow: #bb563f;
$font-name: "Roboto", sans-serif;
$font-heading: 'Caveat', cursive;
$font-color: white;
$shadow-3d: 1px 1px 1px $primary,
            2px 2px 1px $primary,
            3px 3px 1px $primary,
            4px 4px 1px $primary,
            5px 5px 1px #f26c4f,
            6px 6px 1px #ce5e44,
            7px 7px 1px #bb543c,
            8px 8px 1px #944330,
            9px 9px 1px #692f21,
            10px 10px 1px #4e2318;

$shadow-3d-vertical: 1px 1px 1px $primary,
            1px 2px 1px $primary,
            1px 3px 1px $primary,
            1px 4px 1px $primary,
            1px 5px 1px #f26c4f,
            1px 6px 1px #ce5e44,
            1px 7px 1px #bb543c,
            1px 8px 1px #944330,
            1px 9px 1px #692f21,
            1px 10px 1px #4e2318;


/* General Aspects */
*{
    margin: 0px;
    padding: 0px;
}


body{
    background-color: $bg-color;
    overflow-x: hidden;
    font-family: $font-name;
}

footer{
    background-color: black;
    color: white;
    opacity: 50%;
    font-size: 12px;
    text-align: center;
}

.wrap{
    width: 90%;
    margin: 30px auto;
}

.icon{
    font-family: "Icons";
}

.clearfix{
    clear: both;
    float: none;
}

.burger{
    display: none;
    width: 60px;
    height: 10px;
    background-color: red;
    float: left;

    span{
        display: block;
        width: 100%;
        height: 100%;
        background-color: $primary;
        margin-bottom: 10px;
    }
}

/* Header */
#header{
    display: flex;
    justify-content: space-evenly;
}

#logo{
    display: block;
    width: 60px;
    height: 60px;
    background-color: $primary;
    border-radius: 0px 15px 0px 15px;
    text-align: center;
    line-height: 60px;
    float: left;
    margin-right: 20%;
    transition: ease 1s;


    p{
        font-size: 30px;
        font-family: $font-name;
        
        a{
            display: block;
            text-decoration: none;
            color: $font-color;
        }

    }

    p:hover a{
        text-shadow: 1px 1px 1px black,
                     1px 2px 1px black,
                     1px 3px 1px black,
                     1px 4px 1px black;
    }
}

#menu{
    ul{
        li{
            display: flex;
            margin-top: 5px;
            margin-right: 15px;
            text-align: center;
            float: left;
            
            
            a{
                flex-grow: 1;
                padding: 15px;
                text-decoration: none;
                color: $font-color;
                font-family: $font-name;
            }

            a:hover{
                transition: all 300ms;
                color: $primary;
                transform: scale(1.1, 1.1);
                border-bottom: 1px solid $primary;
                animation: subline 400ms linear;
            }

        }
    }
}

@keyframes subline{
    from{
        border-bottom: 1px solid transparent;
    }
    to{
        border-bottom: 1px solid $primary;
    }
}


#search{
    
    align-self: center;

    .box-search{
        display: flex;
        flex-direction: row;

        input[type="text"]{
            border: 1px solid rgb(77, 77, 77);
            border-radius: 5px;
            background-color: transparent;
            color: #ccc;
            padding: 5px;
            width: 90%;
        }

        input[type="text"]:focus{
            border: 1px solid $primary;
            color: white;
        }

        input[type="button"]{
            background-color: $primary;
            border: 1px solid $primary;
            border-radius: 0px 5px 5px 0px;
            color: white;
            padding: 10px;
        }
    }
}

@media (max-width: 768px){
    footer{
        display: none;
    }
}