$shadow-button: -1px 0px 1px $primary,
                -2px 0px 1px $primary,
                -3px 0px 1px $primary,
                -4px 0px 1px $primary,
                -5px 0px 1px $primary,
                -6px 0px 1px $primary,
                -7px 0px 1px $primary,
                -8px 0px 1px #f26c4f,
                -9px 0px 1px #ce5e44,
                -10px 0px 1px #bb543c,
                -11px 0px 1px #944330,
                -12px 0px 1px #692f21,
                -13px 0px 1px #4e2318;
                

.blog-container{
    margin: 0px auto;
    margin-top: 70px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 85%;
    

    h1{
        color: $primary;
        text-transform: uppercase;
        margin-bottom: 40px;
    }

    .posts{
        display: flex;
        justify-content: space-between;
    }

    #container-posts{
        display: flex;
        flex-direction: column;
    }
}

.post{
    display: flex;
    flex-direction: row;
    border: 3px solid $primary;
    padding: 10px;
    overflow: hidden;
    border-radius: 0px 30px 0px 30px;
    width: 90%;
    margin-bottom: 30px;
    max-height: 320px;

    img{
        margin-right: 20px;
    }
    
    .read-more{

        padding: 10px;
        color: white;
        width: 100px;
        text-decoration: none;
        text-align: center;
        border: 1px solid #ccc;
        border-radius: 0px 15px 0px 15px;
        transition: 300ms all;
    }

    .read-more:hover{
        box-shadow: $shadow-button;
        transform: translateX(15px);
        font-style: italic;
        text-decoration: underline;
        border: 1px solid $primary;
    }

    .post-title{
        margin-bottom: 5px;
        flex-wrap: wrap;

        a{
            color: $primary;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 30px;
            
        }

        
    }

    .info-published{
        .author, .date{
            color: #666;
        }
    }

    .post-description{
        color: white;
        font-size: 20px;
        padding: 10px;
    }
    
    .container-button{
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-end;
        margin-top: 10%;
        margin-right: 20px;
        
    }

    .preview-image{
        width: 300px;
        height: 300px;
    }

    
}

#aside-blog{
    display: flex;
    flex-direction: column;
    background-color: #444;
    border: 3px solid $primary;
    border-radius: 0px 30px 0px 30px;
    padding: 30px;
    height: 320px;

    h2{
        color: $primary;
        text-transform: uppercase;
        font-size: 30px;
        margin-bottom: 25px;
    }
    
    ul{
        margin: 0px auto;
        list-style: none;
        
        li{
            margin-bottom: 20px;
            width: 100%;
            transition: 300ms all;
            
            a{
                display: block;
                width: 100%;
                padding: 20px;
                color: white;
                text-decoration: none; 
            }
        }

        li:hover{
            transform: translateX(-20px);
            border-bottom: 1px solid $primary;
            
            a{
                color: $primary;
            }
            
        }

       
    }
}
