/*Import Fonts*/
@font-face{
    font-family: "Icons";
    src: url(../fonts/websymbols-regular-webfont.eot);
    src: url(../fonts/websymbols-regular-webfont.eot?#iefix) format('embedded-opentype'),
         url(../fonts/websymbols-regular-webfont.woff) format("woff"),
         url(../fonts/websymbols-regular-webfont.ttf) format("truetype"),
         url(../fonts/websymbols-regular-webfont.svg#WebSymbolsRegular) format("svg");
    font-weight: normal;
    font-style: normal;
}


/*Variables*/
$bg-color: #1f1b24;
$primary: #f26c4f;
$secondary: #222;
$font-name: "Roboto", sans-serif;
$font-color: white;



/* General Aspects */
*{
    margin: 0px;
    padding: 0px;
}


body{
    background-color: $bg-color;
}

.wrap{
    width: 90%;
    margin: 30px auto;
}

.icon{
    font-family: "Icons";
}

.clearfix{
    clear: both;
    float: none;
}

/* Header */
#logo{
    display: block;
    width: 60px;
    height: 60px;
    background-color: $primary;
    text-align: center;
    line-height: 60px;
    float: left;
    margin-right: 20%;
    transition: ease 1s;


    p{
        font-size: 30px;
        font-family: $font-name;
        
        a{
            display: block;
            text-decoration: none;
            color: $font-color;
        }

    }

    p:hover a{
        text-shadow: 1px 1px 1px black,
                     1px 2px 1px black,
                     1px 3px 1px black,
                     1px 4px 1px black;
    }
}

#menu{
    ul{
        li{
            display: inline-block;
            margin-top: 5px;
            margin-right: 15px;
            text-align: center;
            float: left;
            
            
            a{
                display: block;
                width: 100%;
                padding: 15px;
                text-decoration: none;
                color: $font-color;
                font-family: $font-name;
            }

            a:hover{
                transition: all 300ms;
                color: $primary;
                transform: scale(1.1, 1.1);
                border-bottom: 1px solid $primary;
                animation: subline 400ms linear;
            }

        }
    }
}

@keyframes subline{
    from{
        border-bottom: 1px solid transparent;
    }
    to{
        border-bottom: 1px solid $primary;
    }
}


#search{
    float: right;
    line-height: 60px;
    
    .box-search{
        overflow: hidden;
        input[type="text"]{
            border: 1px solid rgb(77, 77, 77);
            border-radius: 5px;
            background-color: transparent;
            color: #ccc;
            padding: 5px;
            width: 90%;
            padding-left: 10px;
            padding-right: 30px;
        }

        input[type="text"]:focus{
            border: 1px solid $primary;
            color: white;
        }

        input[type="button"]{
            position: absolute;
            background-color: $primary;
            border: 1px solid $primary;
            border-radius: 0px 5px 5px 0px;
            color: white;
            top: 44px;
            right: 60px;
            padding: 6.5px;
        }
    }
}

/* Landing */
#main{
    border: 1px solid $primary;
    margin-top: 30px;
    overflow: hidden;
    border-radius: 0px 40px 0px 40px;
    height: 360px;
    transition: all 1s;
    

    .banner{
        display: block;
        float: left;
        width: 65%;
        height: 100%;
        margin-top: 60px;

        overflow: hidden;


        #name{
            text-transform: uppercase;
            font-size: 100px;
            display: block;
            margin-top: 5px;
            margin-left: 100px;
        }

        #surname{
            text-transform: uppercase;
            font-size: 90px;
            margin-top: -90px;
            margin-left: 50%;
        }

        #name, #surname{
            color: white;
            font-family: $font-name;
            
        }
    }

    
    #short-about{
        display: block;
        width: 30%;
        height: 100%;
        padding: 15px;
        float: right;
        color: white;
        overflow: hidden;
        border: 1px solid $primary;
        border-radius: 0px 0px 0px 40px;
        background-color: $secondary;
        font-family: $font-name;
        h5{
            display: block;
            width: 70%;
            color: $primary;
            margin-bottom: 10px;
            margin-top: 10px;
        }


        h3{
            display: block;
            margin-top: 20px;
        }

        #short-description{
            margin-top: 20px;
            margin-bottom: 20px;
            
            #highlight{
                color: $primary;
            }
        }

        #email{
            a{
                color: $primary;
                text-decoration: none;
            }
        }

        
    }

}

#main:hover{

    background-color: $primary;

    #name{
        animation: jump 2s linear;
    }
    #surname{
        animation: jump 3s linear;
    }
    
    

}

@keyframes jump{
    0%{
        text-shadow: 1px 1px 1px black;
    }
    50%{
        text-shadow: 1px 1px 1px black,
                     2px 2px 1px black,
                     3px 3px 1px black,
                     4px 4px 1px black,
                     5px 5px 1px black,
                     6px 6px 1px black,
                     7px 7px 1px black,
                     8px 8px 1px black,
                     9px 9px 1px black,
                     10px 10px 1px black,
    }
    100%{
        text-shadow: 1px 1px 1px black;
    }
}

/* Social Buttons */
#social{
    display: block;
    width: 100%;
    height: 100px;
    margin-top: 50px;


    .box{
        display: block;
        float:left;
        margin-right: 120px;
        width: 300px;
        height: 100%;
        border: 1px solid $primary;
        border-radius: 0px 30px 0px 30px;
        cursor: pointer;

        a{
            display: block;
            text-decoration: none;
            line-height: 90px;
            font-size: 30px;
            width: 100%;
            height: 100%;
            margin-right: 10px;
            text-align: center;
            #linkedin, #github, #gitlab{
                font-family: $font-name;
            }
        }
    }

    .box:last-child{
        margin-right: 0px;
    }



} 
