/*Import Fonts*/
@font-face {
  font-family: "Icons";
  src: url(../fonts/websymbols-regular-webfont.eot);
  src: url(../fonts/websymbols-regular-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/websymbols-regular-webfont.woff) format("woff"), url(../fonts/websymbols-regular-webfont.ttf) format("truetype"), url(../fonts/websymbols-regular-webfont.svg#WebSymbolsRegular) format("svg");
  font-weight: normal;
  font-style: normal;
}
/* General Aspects */
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #1f1b24;
  overflow-x: hidden;
}

.wrap {
  width: 90%;
  margin: 30px auto;
}

.icon {
  font-family: "Icons";
}

.clearfix {
  clear: both;
  float: none;
}

.burger {
  display: none;
  width: 60px;
  height: 10px;
  background-color: red;
  float: left;
}
.burger span {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #f26c4f;
  margin-bottom: 10px;
}

/* Header */
#header {
  display: flex;
  justify-content: space-evenly;
}

#logo {
  display: block;
  width: 60px;
  height: 60px;
  background-color: #f26c4f;
  border-radius: 0px 15px 0px 15px;
  text-align: center;
  line-height: 60px;
  float: left;
  margin-right: 20%;
  transition: ease 1s;
}
#logo p {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}
#logo p a {
  display: block;
  text-decoration: none;
  color: white;
}
#logo p:hover a {
  text-shadow: 1px 1px 1px black, 1px 2px 1px black, 1px 3px 1px black, 1px 4px 1px black;
}

#menu ul li {
  display: flex;
  margin-top: 5px;
  margin-right: 15px;
  text-align: center;
  float: left;
}
#menu ul li a {
  flex-grow: 1;
  padding: 15px;
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
}
#menu ul li a:hover {
  transition: all 300ms;
  color: #f26c4f;
  transform: scale(1.1, 1.1);
  border-bottom: 1px solid #f26c4f;
  animation: subline 400ms linear;
}

@keyframes subline {
  from {
    border-bottom: 1px solid transparent;
  }
  to {
    border-bottom: 1px solid #f26c4f;
  }
}
#search {
  align-self: center;
}
#search .box-search {
  display: flex;
  flex-direction: row;
}
#search .box-search input[type=text] {
  border: 1px solid #4d4d4d;
  border-radius: 5px;
  background-color: transparent;
  color: #ccc;
  padding: 5px;
  width: 90%;
}
#search .box-search input[type=text]:focus {
  border: 1px solid #f26c4f;
  color: white;
}
#search .box-search input[type=button] {
  background-color: #f26c4f;
  border: 1px solid #f26c4f;
  border-radius: 0px 5px 5px 0px;
  color: white;
  padding: 10px;
}

/* ==== Index ==== */
.home {
  width: 100%;
  height: 100vh;
  margin-top: 80px;
  /* Landing */
  /* Social Buttons */
}
.home #main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  border: 1px solid #f26c4f;
  border-radius: 0px 40px 0px 40px;
  height: 360px;
  transition: all 500ms;
}
.home #main .banner {
  display: flex;
  justify-content: space-between;
  width: 50%;
  height: 100%;
}
.home #main .banner #me-banner {
  flex-grow: 1;
  height: 100%;
  transform: rotateY(180deg);
}
.home #main .banner .text-name {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.home #main .banner .text-name #name, .home #main .banner .text-name #surname {
  text-transform: uppercase;
  font-size: 90px;
  transition: all 2s;
  color: white;
  font-family: "Roboto", sans-serif;
}
.home #main .banner .text-name #name {
  margin-left: 50px;
  margin-right: 60px;
}
.home #main #short-about {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 15px;
  color: white;
  border: 1px solid #f26c4f;
  border-radius: 0px 40px 0px 40px;
  background-color: #222;
  font-family: "Roboto", sans-serif;
}
.home #main #short-about h5 {
  display: block;
  width: 70%;
  color: #f26c4f;
  margin-bottom: 10px;
  margin-top: 10px;
}
.home #main #short-about h3 {
  display: block;
  margin-top: 20px;
}
.home #main #short-about #short-description {
  margin-top: 20px;
  margin-bottom: 20px;
}
.home #main #short-about #short-description #highlight {
  color: #f26c4f;
}
.home #main #short-about #email a {
  color: #f26c4f;
  text-decoration: none;
}
.home #main:hover {
  box-shadow: 1px 1px 1px #f26c4f, 2px 2px 1px #f26c4f, 3px 3px 1px #f26c4f, 4px 4px 1px #f26c4f, 5px 5px 1px #f26c4f, 6px 6px 1px #ce5e44, 7px 7px 1px #bb543c, 8px 8px 1px #944330, 9px 9px 1px #692f21, 10px 10px 1px #4e2318;
}
.home #main:hover #name, .home #main:hover #surname {
  text-shadow: 1px 1px 1px #f26c4f, 2px 2px 1px #f26c4f, 3px 3px 1px #f26c4f, 4px 4px 1px #f26c4f, 5px 5px 1px #f26c4f, 6px 6px 1px #ce5e44, 7px 7px 1px #bb543c, 8px 8px 1px #944330, 9px 9px 1px #692f21, 10px 10px 1px #4e2318;
  transform: scale(1.1);
}
.home #social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  margin-top: 160px;
}
.home #social .box {
  flex-grow: 1;
  width: 300px;
  height: 100%;
  border: 1px solid #f26c4f;
  border-radius: 0px 30px 0px 30px;
  cursor: pointer;
  margin-right: 200px;
  transition: all 300ms;
}
.home #social .box a {
  display: block;
  text-decoration: none;
  line-height: 90px;
  font-size: 30px;
  width: 100%;
  height: 100%;
  margin-right: 10px;
  text-align: center;
  color: white;
}
.home #social .box a #linkedin, .home #social .box a #github, .home #social .box a #gitlab {
  font-family: "Roboto", sans-serif;
}
.home #social .box:first-child {
  margin-left: 0px;
}
.home #social .box:last-child {
  margin-right: 0px;
}
.home #social .box:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 1px 1px 1px #f26c4f, 1px 2px 1px #f26c4f, 1px 3px 1px #f26c4f, 1px 4px 1px #f26c4f, 1px 5px 1px #f26c4f, 1px 6px 1px #ce5e44, 1px 7px 1px #bb543c, 1px 8px 1px #944330, 1px 9px 1px #692f21, 1px 10px 1px #4e2318;
}

/* Media Querys */
@media (max-width: 1440px) {
  .text-name {
    flex-direction: column;
    margin-top: -50px;
    margin-left: 50px;
  }
}
@media (max-width: 1024px) {
  #logo {
    margin-right: 5%;
  }

  #short-about {
    font-size: 14px;
  }

  #me-banner {
    margin: 0px;
  }

  .text-name {
    margin-left: -50px;
  }
}
@media (max-width: 768px) {
  #menu, #search {
    display: none;
  }

  .burger {
    display: block;
  }

  #header {
    display: flex;
    justify-content: space-between;
  }

  #me-banner {
    display: none;
  }

  #main {
    display: flex;
    height: 100vh !important;
  }
  #main .banner {
    width: 100% !important;
    height: 50% !important;
  }
  #main .text-name {
    width: 100%;
    height: 100%;
  }
  #main #short-about {
    width: 100% !important;
    height: 50%;
    font-size: 28px;
  }

  #social {
    display: inline-flex;
    width: 100%;
    height: 30vh !important;
    flex-direction: column;
  }
  #social .box {
    width: 100% !important;
    margin-right: 0px !important;
    margin-bottom: 30px;
  }
}
@media (max-width: 425px) {
  .text-name {
    margin-left: 3px;
  }
  .text-name #name, .text-name #surname {
    font-size: 80px !important;
  }

  #short-about {
    font-size: 21px !important;
  }
}
@media (max-width: 375px) {
  #short-about {
    font-size: 19px !important;
  }
}
/* ==== /Index ==== */
/* ==== About ==== */
/* ==== /About ==== */

/*# sourceMappingURL=style.css.map */
