/*Import Fonts*/
@font-face {
  font-family: "Icons";
  src: url(../fonts/websymbols-regular-webfont.eot);
  src: url(../fonts/websymbols-regular-webfont.eot?#iefix) format("embedded-opentype"), url(../fonts/websymbols-regular-webfont.woff) format("woff"), url(../fonts/websymbols-regular-webfont.ttf) format("truetype"), url(../fonts/websymbols-regular-webfont.svg#WebSymbolsRegular) format("svg");
  font-weight: normal;
  font-style: normal;
}
/* General Aspects */
* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #1f1b24;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

footer {
  background-color: black;
  color: white;
  opacity: 50%;
  font-size: 12px;
  text-align: center;
}

.wrap {
  width: 90%;
  margin: 30px auto;
}

.icon {
  font-family: "Icons";
}

.clearfix {
  clear: both;
  float: none;
}

.burger {
  display: none;
  width: 35px;
  height: 5px;
  float: left;
  background-color: #222;
}
.burger .line {
  display: block;
  width: 100%;
  height: 100%;
  background-color: #f26c4f;
  margin-bottom: 10px;
  transition: ease 800ms all;
}

/* Header */
#header {
  display: flex;
  justify-content: space-evenly;
}

#logo {
  display: block;
  width: 60px;
  height: 60px;
  background-color: #f26c4f;
  border-radius: 0px 15px 0px 15px;
  text-align: center;
  line-height: 60px;
  float: left;
  margin-right: 20%;
  transition: ease 1s;
}
#logo p {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}
#logo p a {
  display: block;
  text-decoration: none;
  color: white;
}
#logo p:hover a {
  text-shadow: 1px 1px 1px black, 1px 2px 1px black, 1px 3px 1px black, 1px 4px 1px black;
}

#menu ul li {
  display: flex;
  margin-top: 5px;
  margin-right: 15px;
  text-align: center;
  float: left;
}
#menu ul li a {
  flex-grow: 1;
  padding: 15px;
  text-decoration: none;
  color: white;
  font-family: "Roboto", sans-serif;
}
#menu ul li a:hover {
  transition: all 300ms;
  color: #f26c4f;
  transform: scale(1.1, 1.1);
  border-bottom: 1px solid #f26c4f;
  animation: subline 400ms linear;
}

@keyframes subline {
  from {
    border-bottom: 1px solid transparent;
  }
  to {
    border-bottom: 1px solid #f26c4f;
  }
}
#search {
  align-self: center;
}
#search .box-search {
  display: flex;
  flex-direction: row;
}
#search .box-search input[type=text] {
  border: 1px solid #4d4d4d;
  border-radius: 5px;
  background-color: transparent;
  color: #ccc;
  padding: 5px;
  width: 90%;
}
#search .box-search input[type=text]:focus {
  border: 1px solid #f26c4f;
  color: white;
}
#search .box-search input[type=button] {
  background-color: #f26c4f;
  border: 1px solid #f26c4f;
  border-radius: 0px 5px 5px 0px;
  color: white;
  padding: 10px;
}

@media (max-width: 768px) {
  footer {
    display: none;
  }

  #search {
    display: none;
  }

  .burger {
    display: block;
    position: fixed;
    right: 40px;
  }

  .change #menu {
    right: 0px;
  }
  .change .line-1 {
    transform: rotateZ(-405deg) translate(-15px, 6px);
  }
  .change .line-2 {
    opacity: 0;
  }
  .change .line-3 {
    transform: rotateZ(405deg) translate(-15px, -6px);
  }

  #menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: -500px;
    top: 0px;
    width: 50%;
    height: 100vh;
    transition: right 800ms ease;
  }
  #menu ul {
    background-color: #222;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    border: 5px solid #f26c4f;
    border-radius: 20% 0px 0px 70%;
  }
  #menu ul li {
    font-size: 30px;
    padding: 20px;
    text-transform: uppercase;
  }
  #menu ul li:first-child {
    margin-top: 70px;
  }
}
/* ==== Index ==== */
.home {
  width: 100%;
  height: 100vh;
  margin-top: 80px;
  /* Landing */
  /* Social Buttons */
}
.home #main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  overflow: hidden;
  border: 1px solid #f26c4f;
  border-radius: 0px 40px 0px 40px;
  height: 360px;
  transition: all 500ms;
}
.home #main .banner {
  display: flex;
  justify-content: space-between;
  width: 50%;
  height: 100%;
}
.home #main .banner #me-banner {
  flex-grow: 1;
  height: 100%;
  transform: rotateY(180deg);
}
.home #main .banner .text-name {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
}
.home #main .banner .text-name #name, .home #main .banner .text-name #surname {
  text-transform: uppercase;
  font-size: 90px;
  transition: all 2s;
  color: white;
  font-family: "Caveat", cursive;
}
.home #main .banner .text-name #name {
  margin-left: 50px;
  margin-right: 60px;
}
.home #main #short-about {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 15px;
  color: white;
  border: 1px solid #f26c4f;
  border-radius: 0px 40px 0px 40px;
  background-color: #222;
  font-family: "Roboto", sans-serif;
}
.home #main #short-about h5 {
  display: block;
  width: 70%;
  color: #f26c4f;
  margin-bottom: 10px;
  margin-top: 10px;
}
.home #main #short-about h3 {
  display: block;
  margin-top: 20px;
}
.home #main #short-about #short-description {
  margin-top: 20px;
  margin-bottom: 20px;
}
.home #main #short-about #short-description #highlight {
  color: #f26c4f;
}
.home #main #short-about #email a {
  color: #f26c4f;
  text-decoration: none;
}
.home #main:hover {
  box-shadow: 1px 1px 1px #f26c4f, 2px 2px 1px #f26c4f, 3px 3px 1px #f26c4f, 4px 4px 1px #f26c4f, 5px 5px 1px #f26c4f, 6px 6px 1px #ce5e44, 7px 7px 1px #bb543c, 8px 8px 1px #944330, 9px 9px 1px #692f21, 10px 10px 1px #4e2318;
}
.home #main:hover #name, .home #main:hover #surname {
  text-shadow: 1px 1px 1px #f26c4f, 2px 2px 1px #f26c4f, 3px 3px 1px #f26c4f, 4px 4px 1px #f26c4f, 5px 5px 1px #f26c4f, 6px 6px 1px #ce5e44, 7px 7px 1px #bb543c, 8px 8px 1px #944330, 9px 9px 1px #692f21, 10px 10px 1px #4e2318;
  transform: scale(1.1);
}
.home #social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100px;
  margin-top: 160px;
}
.home #social .box {
  flex-grow: 1;
  width: 300px;
  height: 100%;
  border: 1px solid #f26c4f;
  border-radius: 0px 30px 0px 30px;
  cursor: pointer;
  margin-right: 200px;
  transition: all 300ms;
}
.home #social .box a {
  display: block;
  text-decoration: none;
  line-height: 90px;
  font-size: 30px;
  width: 100%;
  height: 100%;
  margin-right: 10px;
  text-align: center;
  color: white;
}
.home #social .box a #linkedin, .home #social .box a #github, .home #social .box a #gitlab {
  font-family: "Roboto", sans-serif;
}
.home #social .box:first-child {
  margin-left: 0px;
}
.home #social .box:last-child {
  margin-right: 0px;
}
.home #social .box:hover {
  transform: scale(1.1, 1.1);
  box-shadow: 0px 1px 1px #f26c4f, 0px 2px 1px #f26c4f, 0px 3px 1px #f26c4f, 0px 4px 1px #f26c4f, 0px 5px 1px #f26c4f, 0px 6px 1px #ce5e44, 0px 7px 1px #bb543c, 0px 8px 1px #944330, 0px 9px 1px #692f21, 0px 10px 1px #4e2318;
}

/* Media Querys */
@media (max-width: 1440px) {
  .text-name {
    flex-direction: column;
    margin-top: -50px;
    margin-left: 50px;
  }
}
@media (max-width: 1024px) {
  #logo {
    margin-right: 5%;
  }

  #short-about {
    font-size: 14px;
  }

  #me-banner {
    margin: 0px;
  }

  .text-name {
    margin-left: -50px;
  }
}
@media (max-width: 768px) {
  #header {
    display: flex;
    justify-content: space-between;
  }

  #me-banner {
    display: none;
  }

  #main {
    display: flex;
    height: 100vh !important;
  }
  #main .banner {
    width: 100% !important;
    height: 50% !important;
  }
  #main .text-name {
    width: 100%;
    height: 100%;
  }
  #main #short-about {
    width: 100% !important;
    height: 50%;
    font-size: 23px;
  }

  #social {
    display: inline-flex;
    width: 100%;
    height: 30vh !important;
    flex-direction: column;
  }
  #social .box {
    width: 100% !important;
    margin-right: 0px !important;
    margin-bottom: 30px;
  }
}
@media (max-width: 425px) {
  .text-name {
    margin-left: 3px;
  }
  .text-name #name, .text-name #surname {
    font-size: 80px !important;
  }

  #short-about {
    font-size: 18px !important;
  }
}
@media (max-width: 375px) {
  #short-about {
    font-size: 16px !important;
  }
}
/* ==== /Index ==== */
/* ==== About ==== */
.wrap-content {
  display: flex;
  align-items: center;
}
.wrap-content #about-me {
  margin-top: 70px;
  border: 1px solid #f26c4f;
  border-radius: 0px 30px 0px 30px;
}
.wrap-content .box-content {
  display: flex;
  flex-direction: row;
}
.wrap-content .box-content p {
  color: white;
  margin: 10px;
  margin-top: 20px;
  text-align: justify;
}
.wrap-content .heading {
  color: #f26c4f;
  font-size: 30px;
  text-transform: uppercase;
}
.wrap-content .box2 {
  display: flex;
  flex-direction: row-reverse;
}
.wrap-content .box-pic {
  width: 20%;
  border-radius: 0px 30px 0px 30px;
  margin: 10px;
}
.wrap-content .box-container-skill {
  display: flex;
  flex-direction: row;
}
.wrap-content .content {
  display: flex;
  flex-direction: column;
}
.wrap-content .title {
  display: flex;
  color: #f26c4f;
  margin-top: 10px;
}
.wrap-content .skills {
  margin-top: 3px;
  margin-left: 10px;
}
.wrap-content .list li {
  list-style: none;
}
.wrap-content .list li::before {
  content: ">";
  color: #f26c4f;
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}
.wrap-content .serie {
  color: white;
  margin-left: 25px;
}
.wrap-content .skill {
  color: white;
  margin-left: 25px;
  margin-right: 20px;
}
.wrap-content #line {
  opacity: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.wrap-content #image1 {
  width: 15%;
}

/* Media Querys About */
@media (max-width: 1024px) {
  #image2 {
    width: 40%;
  }

  #image1 {
    width: 40% !important;
  }
}
@media (max-width: 768px) {
  #image2 {
    display: none;
  }

  #image1 {
    width: 50% !important;
  }
}
@media (max-width: 425px) {
  #image1 {
    display: none;
  }
}
/* ==== /About ==== */
/* ==== Porfolio ==== */
#container {
  margin-top: 70px;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 1px solid #f26c4f;
  border-radius: 0px 30px 0px 30px;
}
#container #title-heading {
  color: #f26c4f;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-left: 5%;
  margin-bottom: 30px;
  font-size: 50px;
}
#container #articles {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
#container #projects {
  display: flex;
  flex-flow: row wrap;
  flex-basis: 70%;
}
#container .project {
  flex-grow: 1;
  overflow: hidden;
  margin-bottom: 25px;
  margin-right: 30px;
  border: 3px solid #ccc;
  border-radius: 0px 30px 0px 30px;
  transition: all 300ms;
  max-width: 350px;
  height: 250px;
}
#container .project img {
  width: 100%;
  height: 180px;
}
#container .project:hover {
  transform: scale(1.1, 1.1);
  cursor: pointer;
}
#container .project:hover .project-info {
  background-color: #f26c4f;
}
#container .project-info {
  padding: 10px;
  text-align: center;
  transition: all 300ms;
}
#container .project-info a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  transition: all 300ms;
}
#container .project-info a:hover {
  text-decoration: underline;
  text-shadow: 1px 1px 3px black;
}
#container .project-info p {
  margin-top: 7px;
}
#container .project-info p:hover {
  cursor: pointer;
  color: white;
  text-decoration: underline;
}

#category {
  flex-basis: 15%;
  margin-right: 30px;
  padding: 15px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
#category ul {
  list-style: none;
}
#category ul li {
  overflow: hidden;
  border: 1px solid #f26c4f;
  border-radius: 0px 30px 0px 30px;
  transition: all 300ms;
  margin-bottom: 30px;
}
#category ul li:hover {
  transform: translateX(20px);
}
#category a {
  display: block;
  padding: 20px;
  text-align: center;
  transition: all 300ms;
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}
#category a:hover {
  background-color: #f26c4f;
}

.modal {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0px;
  margin: 0px auto;
  background-color: rgba(34, 34, 34, 0.8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: ease all 300ms;
}
.modal .modal-content {
  width: 90%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 5px solid #f26c4f;
  background-color: #333;
  border-radius: 0px 30px 0px 30px;
}
.modal .modal-content img {
  width: 50%;
  margin-top: 30px;
  margin-bottom: 30px;
}
.modal .modal-content p {
  width: 50%;
  color: white;
}
.modal .modal-content .close-modal {
  display: flex;
  padding: 20px;
  justify-content: center;
}
.modal .modal-content .close-modal h3 {
  color: white;
}
.modal .modal-content .close-modal h3, .modal .modal-content .close-modal span {
  font-size: 40px;
}
.modal .modal-content .close-modal span {
  color: #f26c4f;
  margin-left: 30%;
}
.modal .modal-content .close-modal span:hover {
  cursor: pointer;
}

.hide {
  display: none;
}

/* Media Querys */
@media (max-width: 768px) {
  #category {
    display: none;
  }

  #title-heading {
    text-align: center;
  }

  #projects {
    margin-left: 45px;
  }

  .modal-content img {
    width: 70% !important;
  }
  .modal-content p {
    width: 70% !important;
  }
}
@media (max-width: 425px) {
  .modal-content img {
    width: 90% !important;
  }
  .modal-content p {
    width: 90% !important;
  }
}
/* ==== /Porfolio ==== */
/* ==== Contact ==== */
.wrap {
  display: flex;
  flex-direction: column;
}

.container {
  margin: 0px auto;
  margin-top: 70px;
  margin-bottom: 80px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid #f26c4f;
  border-radius: 0px 30px 0px 30px;
  width: 30%;
}
.container #title-contact {
  color: #f26c4f;
  text-align: center;
  text-transform: uppercase;
  font-size: 40px;
  margin-top: 20px;
}
.container .contact-form {
  color: white;
}
.container .contact-form form {
  display: flex;
  flex-direction: column;
  padding: 30px;
  margin-bottom: 10px;
}
.container .contact-form form label {
  margin-top: 10px;
  margin-bottom: 5px;
}
.container .contact-form form input[type=submit] {
  padding: 30px;
  margin-top: 30px;
  background-color: #f26c4f;
  color: white;
  text-transform: uppercase;
  border-radius: 0px 30px 0px 30px;
}
.container .contact-form form input[type=text], .container .contact-form form input[type=email] {
  padding: 10px;
}
.container .contact-form form textarea {
  padding: 10px;
}

@media (max-width: 1440px) {
  .container {
    width: 40%;
  }
}
@media (max-width: 1024px) {
  .container {
    width: 50%;
  }
}
@media (max-width: 768px) {
  .container {
    width: 70%;
  }
}
@media (max-width: 425px) {
  .container {
    width: 100%;
  }
}
/* ==== /Contact ==== */
/* ==== Blog ==== */
.blog-container {
  margin: 0px auto;
  margin-top: 70px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 85%;
}
.blog-container h1 {
  color: #f26c4f;
  text-transform: uppercase;
  margin-bottom: 40px;
}
.blog-container .posts {
  display: flex;
  justify-content: space-between;
}
.blog-container #container-posts {
  display: flex;
  flex-direction: column;
}

.post {
  display: flex;
  flex-direction: row;
  border: 3px solid #f26c4f;
  padding: 10px;
  overflow: hidden;
  border-radius: 0px 30px 0px 30px;
  width: 90%;
  margin-bottom: 30px;
  max-height: 320px;
}
.post img {
  margin-right: 20px;
}
.post .read-more {
  padding: 10px;
  color: white;
  width: 100px;
  text-decoration: none;
  text-align: center;
  border: 1px solid #ccc;
  border-radius: 0px 15px 0px 15px;
  transition: 300ms all;
}
.post .read-more:hover {
  box-shadow: -1px 0px 1px #f26c4f, -2px 0px 1px #f26c4f, -3px 0px 1px #f26c4f, -4px 0px 1px #f26c4f, -5px 0px 1px #f26c4f, -6px 0px 1px #f26c4f, -7px 0px 1px #f26c4f, -8px 0px 1px #f26c4f, -9px 0px 1px #ce5e44, -10px 0px 1px #bb543c, -11px 0px 1px #944330, -12px 0px 1px #692f21, -13px 0px 1px #4e2318;
  transform: translateX(15px);
  font-style: italic;
  text-decoration: underline;
  border: 1px solid #f26c4f;
}
.post .post-title {
  margin-bottom: 5px;
  flex-wrap: wrap;
}
.post .post-title a {
  color: #f26c4f;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 30px;
}
.post .info-published .author, .post .info-published .date {
  color: #666;
}
.post .post-description {
  color: white;
  font-size: 20px;
  padding: 10px;
}
.post .container-button {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-end;
  margin-top: 10%;
  margin-right: 20px;
}
.post .preview-image {
  width: 300px;
  height: 300px;
}

#aside-blog {
  display: flex;
  flex-direction: column;
  background-color: #444;
  border: 3px solid #f26c4f;
  border-radius: 0px 30px 0px 30px;
  padding: 30px;
  height: 320px;
}
#aside-blog h2 {
  color: #f26c4f;
  text-transform: uppercase;
  font-size: 30px;
  margin-bottom: 25px;
}
#aside-blog ul {
  margin: 0px auto;
  list-style: none;
}
#aside-blog ul li {
  margin-bottom: 20px;
  width: 100%;
  transition: 300ms all;
}
#aside-blog ul li a {
  display: block;
  width: 100%;
  padding: 20px;
  color: white;
  text-decoration: none;
}
#aside-blog ul li:hover {
  transform: translateX(-20px);
  border-bottom: 1px solid #f26c4f;
}
#aside-blog ul li:hover a {
  color: #f26c4f;
}

/* Media Querys */
@media (max-width: 1024px) {
  .posts {
    flex-direction: column;
  }

  #aside-blog {
    width: 85%;
  }
  #aside-blog h2 {
    text-align: center;
  }
  #aside-blog ul li a {
    font-size: 30px;
  }
}
@media (max-width: 768px) {
  .post {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 100vh !important;
  }
}
/* ==== /Blog ==== */
/* ==== Detail Blog ==== */
.detail_container {
  border: 1px solid #f26c4f;
  border-radius: 0px 20px 0px 20px;
  padding: 20px;
}
.detail_container .title_post {
  text-align: center;
  color: white;
  font-size: 80px;
  margin: 0px auto;
}
.detail_container .detail_more_info {
  display: flex;
  justify-content: center;
}
.detail_container .detail_more_info .author {
  color: #f26c4f;
  margin-right: 20px;
}
.detail_container .detail_more_info .date {
  color: grey;
  margin-left: 20px;
}
.detail_container .detail_image_hero {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 400px;
  overflow: hidden;
  margin-top: 20px;
}
.detail_container .detail_image_hero img {
  width: 100%;
  height: 250%;
}
.detail_container .content_of_blog {
  color: white;
  margin-top: 50px;
  text-align: justify;
}

/* Media querys */
@media (max-width: 425px) {
  .detail_container .title_post {
    font-size: 50px;
  }

  .detail_more_info .author {
    color: #f26c4f;
    font-size: 13px;
  }
  .detail_more_info .date {
    color: grey;
    font-size: 13px;
  }
}
@media (max-width: 375px) {
  .detail_container .title_post {
    font-size: 40px;
  }

  .detail_more_info .author {
    color: #f26c4f;
    font-size: 10px;
  }
  .detail_more_info .date {
    color: grey;
    font-size: 10px;
  }
}
@media (max-width: 320px) {
  .detail_more_info .author {
    color: #f26c4f;
    font-size: 9px;
  }
  .detail_more_info .date {
    color: grey;
    font-size: 9px;
  }
}
/* ==== /Detail Blog ==== */

/*# sourceMappingURL=style.css.map */
