{% extends 'blog/index.html' %}
{% load static %}
{% block content %}
        <!--Porfolio-->
        
        <section id="container">
            <h2 id="title-heading">Porfolio</h2>
            
            <div id="articles">
                <aside id="category">
                <h2></h2>
                <ul>
                    <li><a href="#"> Python </a></li>
                    <li><a href="#"> Web </a></li>
                    <li><a href="#"> Designs </a></li>
                </ul>
                </aside>

                <div id="projects">

                    {% for project in projects %}
                    <article class="project">
                        <div class="image-wrap silis"><img src="{{project.img.url}}" alt="SILIS Image"></div>
                        <div class="project-info">
                            <a href="{{ project.github_url }}" target="_BLANK">{{project.name_project}}</a>
                            <p class="read-more">Read More</p>
                        </div>
                    </article>
                    {% endfor %}

                    <!--
                    <article class="project">
                        <div class="image-wrap"><a href="https://covid-tracker-nr.netlify.app/" target="_blank" rel="noopener noreferrer"><img src="{% static 'img/covid-tracker.png' %}" alt="Covid Tracker"></a></div>
                        <div class="project-info">
                            <a href="https://github.com/nikolasribeiro/covid-tracker" target="_BLANK">COVID-19 Tracker</a>
                            <p class="read-more">Read More</p>
                        </div>
                    </article>
                    -->
                 
                </div>
            </div>
            
        </section>
        <!--/Porfolio-->


    </div>


{% endblock %}