{% extends 'blog/index.html' %}
{% load static %}
{% block content %}
        <div class="wrap-content">
            <section id="about-me">

                <div class="box-content box2">
                    <img src="{% static 'img/about-picture.png' %}" alt="Imagen 2" id="image2" class="box-pic">
                    <div class="content">
                        <p>
                            <span class="heading">The technology and I</span><br> I started learn to code at least a 3
                            years ago with Python language. In all this time, i learned about Object Oriented
                            Programming and Graphic User Interfaces with PyQt5. I developed a automate payroll managment
                            system that can handle at five thousand emploees in an hour. By this software, i started to
                            have a big interest in big data and machine learning, so i created a virtual assistant
                            called: Jenny. This assistant is in alpha at the moment because i need to learn more about
                            speech recognition but im on it. <br>

                            I had my first computer at the age of 7, with linux installed by default. Dont remember what
                            distro, but i remember clearly something: a black screen with white letters. I enjoyed
                            sitting in front of the computer and press all the keys in the keyboard pretending doing something.<br>

                            By the moment, i still learning code by my self but recently i enrolled in Holberton School
                            to deep more in my knowlegment about IT. <br>

                        </p>
                        <span class="title skills">My Current Skills</span>
                        <div class="box-container-skill">

                            <ul class="list skill">
                                <li>HTML</li>
                                <li>CSS - SCSS</li>
                                <li>Python</li>
                                <li>GIT</li>
                                <li>Google Cloud (GCP)</li>
                            </ul>

                            <ul class="list skill">
                                <li>Linux (Debian base distros) </li>
                                <li>Django Backend Framework</li>
                                <li>Linux Terminal Console</li>
                                <li>AWS (Basic)</li>
                                <li>English (B2)</li>
                            </ul>

                        </div>
                    </div>

                </div>
                <hr id="line">

                <div class="box-content box1">

                    <img src="{% static 'img/foto.jpg' %}" alt="" id="image1" class="box-pic">

                    <div class="content">
                        <p>
                            I like playing videogames in my free time and watch content about new technologyes in
                            Youtube. My recent interest in web development start on YouTube when i saw how to create a
                            desktop application using HTML, CSS, Javascript with Electron and Python to make a wheather
                            app. <br>
                            Web Development always attracted me but never deep dive into it. When i started with this
                            web-portfolio i realize how beautifull and grateful is this profession because is to much
                            visual and i really like create nice GUIs. <br>
                            I have more interests after videogames and technology. I really like series and i have a lot
                            of series completed in my Netflix Account. In fact, just for visiting my website, i will
                            recommend you a lists of very good series that you really needs to see: <br>
                            <span class="title">-- Lists of Series --</span>
                        </p>

                        <ul class="list serie">
                            <li> Dark </li>
                            <li> Prison Break </li>
                            <li> Breaking Bad</li>
                            <li> Travelers </li>
                            <li> The Blacklist </li>
                            <li> Suits </li>
                        </ul>

                        <p>
                            i will talk more about series and videogames in my personal blog in the future. I have
                            another hobbys but if you want to know them, contact me or visit my personal blog! <br>
                            i hope you like my website and have a nice day bro!
                        </p>
                    </div>


                </div>

            </section>
        </div>

{% endblock %}