{% extends 'blog/index.html' %}
{% load static %}
{% block content %}

        <section class="container">
            <div class="head">
                <h2 id="title-contact">Contact Me</h2>
            </div>
            <div class="contact-form">
                <form action="">
                    <label for="">Email</label>
                    <input type="email" name="" id="">
                    <label for="">Name</label>
                    <input type="text" name="" id="">
                    <label for="">Message</label>
                    <textarea name="" id="" cols="30" rows="10"></textarea>
                    <input type="submit" value="Send">
                </form>
            </div>
        </section>

        
    </div>

    {% endblock %}